.header {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  padding: 16px;
  background-color: #F8FFDB;
  color: #09822E;
}
h3 {
  font-weight: 600;
  text-align: center;
  height:150px
}

header {
  position: relative;
}

.lines {
  width: 30px;
  cursor: pointer;
}

.lines span {
  display: block;
  height: 4px;
  background: black;
  margin: 6px 0;
  transition: 0.3s;
}

.menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #f8f8f8;
  padding: 10px;
  display: none;
  flex-direction: column;
}


.menu.active {
  display: flex;
}

.menu {
  position: absolute;
  top: 60px;
  left: 0;

  background-color: white;
  width: 200px;
  padding: 10px;

  display: none;
  flex-direction: column;

  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}


