.header {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  padding: 16px;
  background-color: #F8FFDB;
  color: #09822E;
}
h3 {
  font-weight: 600;
  text-align: center;
  height:150px
}
  
